@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

$primary-font: Helvetica;
$logo-font: 'Sofia', cursive;
$primary-color: #FFFFFF;
$highlight-color-1: #E61F21;
$highlight-color-2: #EFEFEF;
$font-color: #000000;
$font-red: #E61F21;

* {
  color: $font-color;
  font-family: $primary-font;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn, button {
  border-radius: 20px;
  padding: 5px;
  border: transparent;
}

.navbarLogo {
  font-family: $logo-font;
  font-weight: bold;
  border: 5px white double;
  border-radius: 50%;
}

.card-img-top, .card, .container {
  border-radius: 20px;
  border: transparent;
}

.showOptions {
  display: none;
}

.pic_card {
  position: absolute;
  bottom: 0;
  background-color: $highlight-color-2;
  opacity: 75%;
  border-radius: 5%;
  padding: 18px;
  margin: 5px;
  display: flex;
  align-content: space-around;
  flex-flow: nowrap column;
  cursor: crosshair;
}

.like_row, .like_checkbox {
  display: flex;
  flex-flow: row nowrap;
  padding: 5px;
  align-content: baseline;
  justify-content: space-evenly;
}
